.cut-element {
  margin: 15px;
  display: block;
  text-decoration: none;
  height: 200px;
}

.cut-content-right , .cut-content-left {
  display: table;
  margin-top: 10px;
  position: relative;
  height: 180px;
  width: 50%;
  background-color: lightgray;
  border: 2px solid lightgray;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.cut-content-left {
  float: left;
}

.cut-content-right {
  float: right;
}

.cut-content-left:hover , .cut-content-right:hover{
  background-color: ghostwhite;
}

.input-actorname {
  float: left;
  margin-left: 26px;
  font-weight: 700;
}

.input-emotion {
  float: left;
  margin-left:20px;
}

.textarea-dialogue {
  width: 88%;
  height: 50px;
  resize: none;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;  
}
