
.c-title {
  border: 1px solid lightgray;
  background-color: lightgray;
  background-size: 100%;
  font-family: sans-serif;
  text-align: center;
  
}

.c-list {
  height: 80vh;
  overflow-y: scroll;
}