
.c-title {
  border: 1px solid lightcyan;
  background-color: lightcyan;
  background-size: 100%;
  font-family: sans-serif;
  text-align: center;
  
}

.c-list {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
  height: 80vh;
  overflow-y: scroll;
}