@import url('https://fonts.googleapis.com/css?family=Merriweather');

.App {
  background-color: lightcyan;
  height: 100vh;
  font-family: 'Merriweather', serif;
}

.App-ChapterView {
  float: left;
  width: 25%;
  background: darkcyan;
  height: 100%;
  z-index: 3;
}

.App-CutView {
  box-shadow: 1px 6px 8px 3px rgba(0, 0, 0, 0.2) inset;
  position: relative;
  margin-left:25%;
  background: lightcyan;
  height: 100%
}

